<ul class="category-tree sidebar-menu list-none" data-category-tree>
  <li class="category-tree__item category-tree__item--branch is-open" data-category-branch>
    <div class="category-tree__row">
      <a href="#" class="category-tree__link category-tree__link--branch">
        <i class="fa-solid fa-folder text-accentAmber w-4 text-center shrink-0" aria-hidden="true"></i>
        <span class="category-tree__label">SK 쉴더스 루키즈 5기</span>
        <span class="category-tree__count"></span>
      </a>
    </div>
    <ul class="category-tree__children list-none">
      <li class="category-tree__item category-tree__item--leaf">
        <a href="#" data-category-id="rookies-showcase" data-category-label="Project Showcase" class="category-tree__link category-tree__link--child">
          <i class="fa-regular fa-folder text-accentAmber w-4 text-center shrink-0" aria-hidden="true"></i>
          <span class="category-tree__label">Project Showcase</span>
          <span class="category-tree__count"></span>
        </a>
      </li>
      <li class="category-tree__item category-tree__item--leaf">
        <a href="#" data-category-id="rookies-offline" data-category-label="Offline Sessions" class="category-tree__link category-tree__link--child">
          <i class="fa-regular fa-folder text-accentAmber w-4 text-center shrink-0" aria-hidden="true"></i>
          <span class="category-tree__label">Offline Sessions</span>
          <span class="category-tree__count"></span>
        </a>
      </li>
    </ul>
  </li>

  <li class="category-tree__item category-tree__item--branch" data-category-branch>
    <div class="category-tree__row">
      <a href="#" class="category-tree__link category-tree__link--branch">
        <i class="fa-solid fa-folder text-accentAmber w-4 text-center shrink-0" aria-hidden="true"></i>
        <span class="category-tree__label">개인 프로젝트</span>
        <span class="category-tree__count"></span>
      </a>
    </div>
    <ul class="category-tree__children list-none">
      <li class="category-tree__item category-tree__item--leaf">
        <a href="#" data-category-id="personal-web" data-category-label="Web Development" class="category-tree__link category-tree__link--child">
          <i class="fa-regular fa-folder text-accentAmber w-4 text-center shrink-0" aria-hidden="true"></i>
          <span class="category-tree__label">Web Development</span>
          <span class="category-tree__count"></span>
        </a>
      </li>
      <li class="category-tree__item category-tree__item--leaf">
        <a href="#" data-category-id="personal-toy" data-category-label="Toy Projects" class="category-tree__link category-tree__link--child">
          <i class="fa-regular fa-folder text-accentAmber w-4 text-center shrink-0" aria-hidden="true"></i>
          <span class="category-tree__label">Toy Projects</span>
          <span class="category-tree__count"></span>
        </a>
      </li>
    </ul>
  </li>

  <li class="category-tree__item category-tree__item--leaf">
    <a href="#" data-category-id="papers" data-category-label="논문" class="category-tree__link">
      <i class="fa-solid fa-folder text-accentAmber w-4 text-center shrink-0" aria-hidden="true"></i>
      <span class="category-tree__label">논문</span>
      <span class="category-tree__count"></span>
    </a>
  </li>
</ul>
